/* General reset and layout */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
}

/* NAVIGATION BAR */
nav {
  position: sticky;
  top: 0;
  /* Keeps the navbar at the top */
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f44336;
  box-shadow: 0 10px 10px black;
  align-items: center;
  height: 150px;
  /* Adjust as per your navbar height */
  z-index: 10;
  /* Ensures navbar stays on top */
}

nav h1 {
  margin-top: 0;
}

.nav-slogan {
  font-size: 3rem;
  /* Bigger font size for the slogan */
  color: white;
  font-weight: bold;
  margin-right: 15px;
  /* Add space between slogan and logo */
}

/* Navigation links container */
.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

/* Navigation items */
.nav-item h2 {
  margin: 0;
}

/* Links */
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  padding: 8px 16px;
  border-radius: 5px;
  transition: color 0.3s ease;
  /* Only transition the text color */
}

/* Hover effect on links */
.nav-link:hover {
  color: white !important;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Container */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin-top: 15rem;
}

/* Modal Content */
.modal-content {
  padding: 30px;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}
.modal-content form{
  width: 100%;
  max-width: 400px;
}
.modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Button  */
button {
  padding: 10px 15px;
  border: none;
  background-color: #2196f3;
  color: black;
  font-size: 16px;
  border-radius: 5px !important;
  cursor: pointer;
  margin: 5px !important;
}

button:hover {
  opacity: 0.8;
}

/* Close Button in Modal */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff0000;
  /* Red color on hover */
  opacity: 0.7;
}

.splash-container {
  position: relative;
  background: linear-gradient(to right, transparent,rgba(0, 0, 0, 0.748),transparent),url("../public/background.jpeg");
  background-size: cover;
  /* Ensures the image covers the entire container */
  background-position: center;
  /* Centers the image */
  min-height: calc(100vh - 150px);
  /* Makes the container take full height minus the navbar height */
  padding-top: 150px;
  /* Adds space to avoid covering navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}

.splash-content {
  text-align: center;
  z-index: 1;
  /* Keeps content above the background */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.splash-image {
  width: 50rem;
  height: 40rem;
}

.logo-container {
  position: absolute;
  top: 60px;
  /* Adjust based on navbar height */
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 200px;
  /* Adjust as needed */
  height: 200px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}

.home-logged-in {
  padding: 30px 0px 0px 20px;
  font-size: 30px;
  margin-bottom: 50px;
}

.binder-header {
  padding: 30px 0px 0px 20px;
  font-size: 30px;
  margin-bottom: 50px;
}

/* BOOSTER PACK */

#packForm {
    z-index: 100;
    position: relative;
    margin-bottom: 0;
    margin-top: auto;
}
.packCard {
    position: absolute;
    rotate: 0deg;
    left: 0px;
    top: -140px;
    transform: translateX(-50%) scale(0.2);
    transition: top .3s, left .5s, rotate .5s, transform .2s;
    transition-timing-function: ease-in-out;
}

.packCard img {
    width: 200px;
}

.booster {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 4em;
    z-index: 20;
}
.packCard.open {
  transform: translateX(-50%) scale(.9);
}
.packCard.open:nth-child(1) {
    left: -300px;
    rotate: -20deg;
    top: -520px;
    z-index: 1;
}

.packCard.open:nth-child(2) {
    left: -150px;
    rotate: -10deg;
    top: -540px;
    z-index: 2;
}

.packCard.open:nth-child(3) {
    left: 0px;
    rotate: 0deg;
    top: -540px;
    z-index: 3;
}

.packCard.open:nth-child(4) {
    left: 150px;
    rotate: 10deg;
    top: -505px;
    z-index: 2;
}

.packCard.open:nth-child(5) {
    left: 300px;
    rotate: 20deg;
    top: -450px;
    z-index: 1;
}

.packCard.open:hover {
    transform: translateX(-50%) translateY(-20%) scale(1.2);
    z-index: 220;
}

/* POKEMON CARD */
.binder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  width: 400px; /* Increase this to make the cards bigger */
  height: auto; /* Maintain aspect ratio */
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.pokemon-card:hover {
  filter: brightness(1);
  transform: scale(1.1);
}

.pokemon-card:hover + .hover-data {
  position: absolute;
  width: 200px;
  left: 150px;
  top: 0px;
  display: block;
  z-index: 100;
}

.pokemon-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hover-data {
  display: none;
}

/* PACK CHOICE */
.pack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  background: #f0eded;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 75%;
  max-width: 300px;
  text-align: center;
}

.pack-header {
  font-size: 20px;
  font-weight: bolder;
  color: #040404;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pack-list {
  font-size: 16px;
  color: #555555;
  background-color: #f9f9f9;
  padding: 6px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
}

.pack-list:hover {
  border-color: #777777;
}

.pack-button {
  background-color: #1b65db;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.pack-button:hover {
  background-color: #f70202;
}
button:disabled {
  background-color: #ccc;  
  color: #666;             
  cursor: default;
   
}

button:disabled:hover {
  background-color: #ccc;  
  color: #666;             
  cursor: default;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .nav-slogan {
    font-size: 2rem;
  }

  .logo {
    width: 120px;
    height: 120px;
  }
}
