/* General reset and layout */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
}

/* NAVIGATION BAR */
nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F44336;
    box-shadow: 0 6px 6px rgb(91, 90, 90);
    align-items: center;
}

nav h1 {
    margin-top: 0;
}

#logo img {
    width: 128px;

}

/* Navigation links container */
.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Space between links */
}

/* Navigation items */
.nav-item h2 {
    margin: 0;
}

/* Links and buttons */
.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover effect on links */
.nav-link:hover {
    background-color: #0077cc;
    color: white;
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Container */
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}

/* Modal Content */
.modal-content {
    padding: 30px;
    width: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Button  */
button {
    padding: 10px 15px;
    border: none;
    background-color: #2196F3;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    opacity: 0.8;
}

/* Close Button in Modal */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: #ff0000;
    /* Red color on hover */
    opacity: 0.7;
}

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f4f8;
    /* Light background color */
}

.splash-content {
    text-align: center;
    max-width: 700px;
}

.splash-image {
    width: 100%;
    height: auto;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        /* Stack elements vertically on smaller screens */
        align-items: flex-start;
        /* Align left */
    }

    .nav-links {
        width: 100%;
        /* Full width for the links */
        justify-content: flex-start;
        /* Align to the left */
        margin-top: 10px;
        /* Space between logo and links */
    }
}


/* BOOSTER PACK */
.packCard {
    position: absolute;
}
.packCard .cardImage{
    width: 18em;
}
.booster {
    transition: 0.5s ease-in-out;
}
.booster :nth-child(1) {
    translate: -300px; 
    rotate: 0;
    z-index: 1;
}
.booster :nth-child(2) {
    translate: -150px; 
    rotate: 0;
    z-index: 2;
}
.booster :nth-child(3) {
    translate: 0px; 
    rotate: 0;
    z-index: 3;
}
.booster :nth-child(4) {
    translate: 150px; 
    rotate: 0;
    z-index: 2;
}
.booster :nth-child(5) {
    translate: 300px; 
    rotate: 0;
    z-index: 1;
}


/* POKEMON CARD */
.pokemon-card:hover+.hover-data {
    display: block;
}

.hover-data {
    display: none;
}